<!DOCTYPE html>
<html>
<head>Log in
</head>

<body>
<form method='post' action='/sessions'>
  <input type="text" name="email" value="">Email</input>
  <input type="password" name="password" value="">Password</input>
  <input type="submit" value="Sign in">
</body>

</html>
