<h1> Blogs </h1>

<ul id="blogs">
  <% @blogs.each do |blog| %>
    <li>
      Title: <%= blog.title %>
      Blog:   <%= blog.content%>
      Tag: <%= blog.tags.map(&:name)%>
    </li>
    Comment Box
    <form method="post" action="/blogs">
      <input type="text" name="reply">
      <input type="submit" value="Reply">
    </form>
  <% end %>
</ul>