<article class="newblog">
  <form action='/blogs' method='post'>
    <label id="title" for='title'> Title </label>
    <input id="inputs" type='text' name='title'>
    <br>
    <label id="content" for='content'> Content </label>
    <textarea id="inputs" name='content' rows="10" cols="50"></textarea>
    <br>
    <label id="tags" for='tags'> Tags </label>
    <input id="inputs" type='text' name='tags'>
    <br>
    <input id="createblogbtn" type='submit' value='Create Blog'>
  </form>
</article>
