<article class="forms">
  <form action='/blogs' method='post'>
    <input id="inputs" type='text' name='title' placeholder='Title'>
    <br>
    <textarea id="inputs" name='content' rows="10" cols="50" placeholder="Write your blog post here..."></textarea>
    <br>
    <input id="inputs" type='text' name='tags' placeholder="Tags"> Seperate multiple tags with a space
    <br>
    <input id='button' type='submit' value='Create Blog'>
  </form>
</article>
