<!DOCTYPE html>
<html>
<head>User Sign Up/title>
</head>

<body>
Enter the following to sign up
<form method='post' action='/users'>
  <input type="text" name="email" value="">Email</input>
  <input type="text" name="username" value="">Username</input>
  <input type="text" name="name" value="">Name</input>
  <input type="text" name="phone" value="">Phone Number</input>
  <input type="password" name="password" value="">Password</input>
  <input type="password" name="passwordconfirm" value="">Password Confirmation</input>
  <input type="submit" name="signup" value="Sign up">
</form>
</body>

</html>
