<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style/normalize.css">
    <!-- <link rel="stylesheet" href="/style/style.css"> -->
    <link href='http://fonts.googleapis.com/css?family=Gloria+Hallelujah|Permanent+Marker|Contrail+One' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="../../jasmine/lib/jasmine-jquery.js"></script>
    <title>
      Blog
    </title>
  </head>

  <body>

    <% if current_user %>
      Welcome,
    <%= current_user.username %>
    <form method='post' action='/sessions'>
      <input id='subbtn' type='submit' value='Sign out'>
      <input type='hidden' name='_method' value='delete'>
    </form>
    <header>
      The Bloggers Blog of Nonsense!
    </header>

    <% end %>
  <%= yield %>

    <footer>
      Copyright of TeamTaroon &copy;
    </footer>

  </body>

  <script src="javascript/Ranking.js"></script>
  <script src="javascript/blog.js"></script>

</html>
