/* All pages */

body {
  background-color: #EEF5DB;
}

header {
  font-size: 5em;
  text-align: center;
  font-weight: bold;
  font-family: 'Contrail One', cursive;
  margin-bottom: 25px;
  background-color: #FE5F55;
}

footer {
  text-align: center;
  font-weight: bold;
  font-size: .75em;
  margin-bottom: 20px;
  background-color: #4F6367;
}

h1 {
  font-size: 4em;
  padding-left: 40px;
}

/* Viewing blogs page */

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}

.Title {
  font-size: 1.5em;
  font-weight: bold;
  padding-left: 40px;
}

.Blog {
  font-size: 1em;
  font-family: 'Gloria Hallelujah', cursive;
  margin-right: 60px;
  margin-left: 60px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: #78B5CA;
}

.Time,
.Tags,
.Comments,
.comment_box {
  padding-left: 40px;
  padding-right: 40px;

}

.Comments {
  font-family: 'Contrail One', cursive;
}

#subbtn {
  display: inline-block;
  float: right;
  margin-right: 25px;
}

#welcome_message {
  background-color: #FE5F55;
}

/* SignUp Page*/

p {
  margin-left: 500px;
  margin-bottom: 15px;
  font-size: 1.2em;
}

.signup {
  font-weight: bold;
}

#labels {
  margin-left: 500px;
  margin-right: 15px;
  margin-bottom: 15px;
  font-style: italic;
}

#inputs {
  display: inline-table;
  margin-bottom: 15px;
}

#signupbtn,
#createblogbtn {
  margin-left: 660px;
  padding: 5px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: yellow;
  width: 100px;
}

/* Creting blogs page */

#title,
#content,
#tags {
  margin-left: 50px;
  margin-right: 15px;
  font-weight: bold;
  font-style: italic;
}
